#header {
    height: 40px ;
    padding: 3px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1001;
}

#logo {
    height: 40px ;
    padding: 3px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    z-index: 1001;
    background-color: rgba(255,255,255,0.8);
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 120px;
}

#title_container {
    z-index: 10000;
    position: absolute;
    left: 100px;
}    

#timeline { 
    height: 120px; 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.vis.timeline .item {
    border-color: white;
}
.vis.timeline .item.range {
    background-color: #509E50;      
    color: white;
}

.vis.timeline .customtime {
    background-color: #225422;
}

.vis.timeline .customtime div {
    background-color: rgba(77, 217, 2, 0.48);
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.1;
}

.datetimeControl p {
    margin: 0;
    font-size: 16px;
}

.leaflet-top{
    padding-top: 40px;
}

.colorLegend {
    padding: 3px;
    color: white;
    border-radius:5px;
}