#header {
    height: 40px ;
    padding: 3px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1001;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 320px;
}

#gardenChart {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 120px;
    height: 200px; 
    width: 92%;
    display: block;
    margin: 0 auto;
}

#timeline { 
    height: 120px; 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.vis.timeline .item {
    border-color: white;
}
.vis.timeline .item.range {
    background-color: #509E50;
    background: -moz-linear-gradient( left ,
        #2c64b0 0%,
        #006c88 16%,
        #00c034 33%,
        #6cec00 50%,
        #fcc800 66%,
        #fc6400 83%,
        #d80800 100%
        );

    background: -webkit-gradient(linear,  left top ,  right bottom, 
        color-stop(0%, #2c64b0), 
        color-stop(16%, #006c88), 
        color-stop(33%, #00c034),           
        color-stop(50%, #6cec00),
        color-stop(66%, #fcc800), 
        color-stop(83%, #fc6400), 
        color-stop(100%, #d80800)
        );       

    color: white;
}

.vis.timeline .customtime {
    background-color: #225422;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.1;
}

.datetimeControl p {
    margin: 0;
    font-size: 16px;
}

.colorLegend {
    padding: 3px;
    color: white;
    border-radius:5px;
}