<div id="errorMessage" class="well" style="max-width:44em; display:none">
  <h4>Pri spracovaní gpx súboru nastala chyba</h4>

  <p><%= error_message if defined?(error_message) %></p>
  <button class="errorMessage_close btn btn-default">Zavrieť</button>
</div>