<html>
  <head>
    <title>Radary: <%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../leaflet.css" rel="stylesheet" type="text/css" />
    <link href="../vis.min.css" rel="stylesheet" type="text/css" /> 
    <style>
      #header {
        height: 40px ;
      }

      #map {
        position: absolute;
        top: 40;
        left: 0;
        right: 0;
        bottom: 120px;
      }

      #title_container {
        z-index: 10000;
        position: absolute;
        left: 100px;
      }    

      #timeline { 
        height: 120px; 
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
      }

      body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }

      h1 {
        font-size: 36px;
        font-weight: 300;
        line-height: 1.1;
      }

      .datetimeControl p {
        margin: 0;
        font-size: 16px;
      }
    </style>
  </head>

  <body>
    <div id="header">      
      <form action="/upload_gpx" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" id="gpxFileToUpload">
        <input type="submit" value="Zobraz GPX" id="submitGpxFile" disabled="true">
      </form>
    </div>
    <div id="map"></div>
    <div id="timeline"></div>

    <script src="../jquery-1.11.0.js"></script>
    <script src="../vis.min.js"></script>  
    <script src="../leaflet-src.js"></script>
    <script src="../LeafletPlayback.min.js"></script>
    <script src="../LeafletPlayback.min.js"></script>
    <script src="../leaflet-hash.js"></script>
    <script>
        <%= js %>
    </script>
    <% if defined?(geojson) %>
      <script src="../<%= geojson %>"></script>
    <% end %>
    <script src="../radar.js"></script>
  </body>
</html>